html, body {
    width:100%;
    height:100%;
    background-color: white;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.circle {
    position:relative;
    width:28%;
    padding-bottom:28%;
    box-shadow: 0px 0px 2vw 6vw black;
    background:gold;
    border-radius:50%;
    vertical-align: middle;
    text-align:center;
    margin: auto;
    top: 50%;
    transform: translateY(-50%);
}
.shaking {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
}
.answer{
    position:absolute;
    top:50%; left:50%;
    transform: translate(-50%, -50%);
    margin:0;
    font-size: 4vw;
}
@keyframes shake {
    10% {
        transform: translate3d(-10%, -10%, 0);
    }
    20% {
        transform: translate3d(15%, 10%, 0);
    }
    30%{
        transform: translate3d(0%, -30%, 0);
    }
    40%{
        transform: translate3d(-35%, -0%, 0);
    }
    50%{
        transform: translate3d(-0%, -35%, 0);
    }
    60%{
        transform: translate3d(35%, 0%, 0);
    }
    70% {
        transform: translate3d(-35%, -35%, 0);
    }
    80%{
        transform: translate3d(35%, 0%, 0);
    }
    90% {
        transform: translate3d(35%, -35%, 0);
    }
}
header {
    height: 4%;
    font-size: 2vw;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
#pattern {
    background-image:url('media/pattern.png');
    z-index: -1;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: fixed repeat center center;
    opacity: 0.5;
    }

.href a{
    color: white;
    text-decoration: none;
}
